<div id="quick-stat">
  <div id="image-container">
    <div id="quickstat-logo">QuickStat</div>

    <hr class="soften">

    <% if user_signed_in? %>
      <p>Your current status: <span class="current-status"><%= current_user.condition.state ? "IN" : "OUT" %></span></p>
    <% else %>
      <p><i class="icon-signin"></i><%= link_to "Login", user_session_path %> for QuickStat capability</p>
    <% end %>

    <div class="btn-group" data-toggle="buttons-radio" id="button-container">
      <% if user_signed_in? %>
        <%= button_to "IN",  state_button_link("IN"),  { :method => :put, :remote => true, :class => state_button_class("IN") } %>
        <%= button_to "OUT", state_button_link("OUT"), { :method => :put, :remote => true, :class => state_button_class("OUT") } %>
      <% else %>
        <%= button_to "IN",  '#', :class => state_button_class("IN")  %>
        <%= button_to "OUT", '#', :class => state_button_class("OUT") %>
      <% end %>
    </div>
  </div>
</div>
