<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Employee Status Tracker">
    <meta name="author" content="jekhokie">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!-- Accommodate IE 6-8 support for HTML5 -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>RCheckin</title>
  </head>

  <body>
    <%= render "shared/navigation" %>

    <div class="container" id="content">
      <%= render "shared/flash_messages" %>

      <%= yield %>
    </div>

    <hr class="soften">

    <footer>
      <p>Built using Ruby, Rails and a whole bunch of Twitter Bootstrap styling.</p>
    </footer>
  </body>
</html>
