<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/common_header" %>

    <title>RCheckin</title>

    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

    <!-- Accommodate IE 6-8 support for HTML5 -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render "shared/navigation" %>

    <div class="container" id="content">
      <%= render "shared/flash_messages" %>

      <%= yield %>
    </div>

    <hr class="soften">

    <footer>
      <p>Built using Ruby, Rails and a whole bunch of Twitter Bootstrap styling.</p>
    </footer>
  </body>
</html>
